.item-section {
  box-shadow: 1px 1px 5px grey;
  width: 20rem;
  height: auto;
  transition: all ease-in-out 0.2s;
  margin: 1.4rem 3rem !important;
}

.product-title {
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
}
