.div-body {
  background-color: rgb(255, 255, 255);
}

header {
  background-color: #1f2013;
  padding: 32px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-cart {
  color: #e6ea23;
  width: 32px;
  height: 32px;
}

.div-logo {
  display: flex;
  align-items: center;
}

.icon-mall {
  color: #e6ea23;
  width: 38px;
  height: 38px;
}

.h2-title {
  color: #cdd117;
  font-size: 28px;
}

.div-searchkey {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}

input[data-testid="query-input"] {
  border: none;
  padding: 10px;
  width:300px;
  font-size:16px;
}

button {
  border: none;
  background-color: #3757e8;
  color: white;
}

button.button-search {
  color: white;
  padding: 6px 12px 6px 6px;
  display: flex;
  align-items: center;
}

.icon-search{
    color: white;
    width: 32px;
    height: 32px;
}

.main-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
}