.main-container {
  display: flex;
  flex-flow: row wrap;
}

.categories-container {
  flex-basis: 20%;
  border-right: 1px solid rgb(0, 0, 0);
}

.products-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 80%;
}