.main-container {
  display: flex;
  flex-flow: row nowrap;
}

.categories-container {
  flex-basis: 30%;
  border: 1px solid rgb(0, 0, 0);
}

.products-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 70%;
}