.container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    background-color: white;
    align-items: center;
    width: 100%;
    align-content: center;
}

.sectionProducts {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionProducts .containerProducts {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.sectionProducts .price {
    text-align: center;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.container .form input {
    width: 200px;
}

.container-fpag {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}