.left {
  width: 10%;
  height: auto;
  float: left;
}

.card-list {
  height: auto;
  float: rigth;
}

.cartBuy {
  margin-top: 20px;
  max-width: 35px;
  max-height: 35px;
}

.top {
  width: 80%;
  height: 80px;
  float: left;
}

.center {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-link-cart {
  float: left;
  margin-left: 15px;
  margin-top: 7px;
}

.header-initial-message {
  margin-left: 70px;
  clear: both;
}

.paragraph {
  display: flex;
  justify-content: center;
  padding-top: auto;
}

.paragraph-termo {
  display: flex;
  justify-content: center;
}

.paragraph-home {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.input-search {
  color: #333;
  float: left;
  border-radius: 5px;
  border: 2px solid #daa000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  height: 30px;
  margin-left: 50px;
  margin-top: 30px;
  width: 70%;
}

.button-search {
  width: 10%;
  float: left;
  border-radius: 5px;
  color: #daa000;
  background-color: rgb(17, 17, 17);
  border: 2px solid #daa000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  height: 35px;
  margin-left: 15px;
  margin-top: 30px;
}

.category {
  align-items: center;
  background-color: rgb(17, 17, 17);
  border-radius: 5px;
  border: 2px solid #daa000;
  color: #daa000;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  height: 40px;
  justify-content: space-evenly;
  margin: 5px;
  width: 120px;
}
