.Container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid #ccc;
    align-items: flex-start;
    width: 90%;
}

.categories {
    border: 1 px solid blue;
    border-radius: 5px;
    margin-right: 200px;
    background-color: #ccc;
    color: black;
    padding: 5px;
}

.otherElements {
    margin: 1px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.otherElements input {
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    background-color: #ccc;
    color: black;
    font-size: 15px;
}

.otherElements .shoppingCart {
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.otherElements .btn {
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
}

@media screen and (min-device-width: 320px) and (max-width: 568px) {
    .container {
        border: none;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    .container .categories {
        display: none;
    }
    .container .otherElements {
        text-align: center;
        width: 100%;
    } 
}

@media screen and (min-device-width: 768px) and (max-width: 1024px) {
    .container {
        border: none;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    .container .categories {
        text-align: left;
    }
    .container .otherElements {
        text-align: center;
        width: 300px;
    }
}   