.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item {
    border-radius: 10px;
    border: 1px solid #ccc;
    color: black;
    padding: 20px;
    margin: 20px;
    width: 400px;
    align-self: center;
}

.item-selected {
    border-radius: 10px;
    border: 1px solid red;
    color: black;
    padding: 20px;
    margin: 20px;
    width: 400px;
    align-self: center;
}
