.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.getCategories {
  border: 2px black solid;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 10px;
}

.productList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  height: fit-content;
}

.productSection {
  display: flex;
}

.cabecalho {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.searchbar {
  align-content: center;
  padding: 10px;
}
