.product-list {
  margin: 30px;
  display: flex;
  align-items: flex-start;
}

.category-list {
  max-width: 10%;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 90%;
}

.first-input {
  min-width: 90%;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 30%;
}

.cart-image {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
