.App {
  background-color: wheat;
  display: flex;
  justify-content: center;
}

.header-container {
  background-color: rgb(255, 241, 115);
  color: gray;
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 15px;
}

.logo {
  height: 35px;
}

.shopping-cart-icon {
  height: 35px;
  margin-left: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar-content {
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.164);
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-bar-content:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.164);
}

.search-bar {
  border: none;
  border-radius: 25px;
  font-size: 20px;
  height: 30px;
  width: 100%;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.home-initial-message {
  align-items: center;
  display: flex;
  font-size: 15px;
  justify-content: center;
  height: 18px;
  margin-top: 5px;
}

.query-button{
  background: none;
  border: none;
  height: 20px;
  left: -5px;
  position: relative;
  width: 20px;
  }

.query-button.okay{
  border: none;
}

.search-icon {
  height: 100%;
}

.search-icon:hover {
  height: 105%;
}

.categories-list {
  background-color: rgb(214, 214, 214);
  border-radius: 25px;
  margin: 3vw 8vw;
  padding: 10px;
  width: 20vw;
}
