* {
  padding: 0;
  margin: 0;
}

.atrib-img-Container{
  display: flex;
  justify-content: space-around;
}

.atribDetail {
width: 40%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.category-iten {
 list-style: none;
 color: rgb(56, 55, 55);
 font-weight: 700;
 padding: 05px 15px;
 display: flex;
}
.category-iten:hover {
  background-color:rgb(172, 204, 231);
  color: black;
}
.category-list {
  list-style: none;
  width: 15%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}
.category-list h1 {
  padding: 05px 15px;
}
.conteudo {
  display: flex;
}


.detail-tittle {
  display: flex;
  flex-direction: column;
  align-items:center;
}


.home-cart-button-detail{
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
}


.imgDetail {
  width: 20%;
}

.items {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 5px;
  overflow: hidden;
  width: 200px;
}
.item-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}
.item-price {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding: 12px 20px;
}
.item-image {
  width: 100%;
}