.home-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.home-aside-container {
  height: 100vh;
  padding: 30px;
  margin-right: 20px;
  color: white;
  /* font-size: clamp(0.8rem, 0.8rem, 1rem); */
  background-color: #244a61;
  display: flex;
  align-items: center;
  font-size: clamp(0.8rem, 0.8rem, 1rem);
  flex-flow: column;
}

.home-aside-container h1 {
  width: 200px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  font-style: italic;
}

.home-search-container {
  flex: 0.7 1;
  /* padding-left: clamp(20vw, 25vw, 40vw); */
  margin: auto;
  min-height: 100vh;
  /* background-color: gray; */
}

.search-subcontainer {
  margin: 10px auto;
  /* padding: 10px; */
  text-align: center;
  background-color: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
}

.search-button {
  margin: 10px auto;
  color: rgb(53, 53, 53);
  font-size: 15px;
  padding: 3px 8px 3px 8px;
  float: right;
  height: 39px;
  background: none;
  border: none;
  cursor: pointer;
  /* border-left: 0.5px solid #d3e2e5; */
}

.search-button img {
  height: 20px;
}

.search-subcontainer input {
  background-color: #f5f5f5;
  width: 80%;
  padding: 10px;
  margin: 10px 0 10px 10px;
  float: left;
  border-radius: 1rem;
  border: 1px solid #d3e2e5;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
}

.search-subcontainer h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.empty-cart {
  text-align: center;
}

.item-cards-container {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
  height: 80vh;
}

.item-card p {
  text-align: center;
  color: rgb(53, 53, 53);
  bottom: 0px;
}

.item-card h4 {
  color: rgb(53, 53, 53);
  font-size: 13px;
  text-align: left;
  padding: 8px;
  font-weight: 400;
}

.card-image {
  height: 50%;
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.page-sub-container {
  flex: 0.7 1;
  margin: auto;
  min-height: 100vh;
  margin: 10px auto;
  /* padding: 10px; */
  text-align: center;
  background-color: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
}

.product-link {
  padding: 0px;
  text-decoration: none;
  color: black;
}

.product-card {
  margin: 10px;
  padding: 10px;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
  display: flex;
  flex: 0.9 1;
  align-items: center;
  justify-content: center;
}

.product-info {
  width: 200px;
}

.header-container {
  height: 50px;
  background-color: #244a61;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 10px 30px 0px 30px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  filter: invert(1);
}

.header-container h1 {
  margin-top: 0;
}

.header-container a img {
  width: 20px;
}

.add-to-cart-button {
  border: none;
  border-radius: 1rem;
  padding: 10px;
  background-color: #ceeef5;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
}

.quantity-buttons button {
  margin: 10px;
}

.product-evaluation {
  margin: 10px;
  padding: 10px;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
  display: flex;
  flex: 0.9 1;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
  flex-flow: column;
}


.evaluation-fields input {
  margin: 20px;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
  padding: 8px;
}

.evaluation-fields textarea {
  margin: 20px;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 5px #d3e2e5;
  width: 600px;
  height: 200px;
  padding: 10px;
}

.evaluation-title {
  margin: 20px 20px;
  text-align: center;
}