.App {
  padding-top: 5%;
  padding-left: 5%;
}

.page-list-products {
  display: flex;
  width: 100%;
}

.list-products {
  width: 55%;
  padding-left: 3%;
}

.search-category {
  width: 100%;
}

.categorys {
  width: 25%;
  border: 1px solid black;
  padding-right: 10%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 25%;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 3%;
}

.checkout-component {
  border: 1px solid black;
}

.buyer-inputs {
  background-color: red;
  display: flex;
  margin: 2%;
}

input {
  flex-grow: 1;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
}
